<%- include('header') -%>
<main>
    <div class="container">
        <br>
        <h1><%= title %></h1>
        <br>
        <table class="table table-hover">
            <tbody>
            </tbody>
        </table>
  </div>
</main>
<script src='/javascripts/contacts.js'></script>
<%- include('footer') -%>